.header{
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 100;
  background-color: white;
}
.content-1{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:  0 10px;
    flex-grow: 0.3;
}
.logo{
    text-align: center;
}
.logo img{
    width:80px;
}
.catagory{
    display: flex;
    padding: 0 10px;
    flex-grow: 1;
    justify-content: space-evenly;
}
.catagory p{
    cursor: pointer;
    font-weight: 500;
}
.catagory p:hover{
    color: lightcoral;
}


.content-2{
    display: flex;
    align-items: center;
    line-height: 10px;
    font-size: 13px;
    justify-content: space-evenly;
    flex-grow: 0.3;
}
.search{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
    color: darkgray;
}
.profile{
    text-align: center;
    cursor: pointer;
}
.profile p{
    font-weight: 500;
}
.profile p:hover{
    color: lightcoral;
}
.menu{
    display: none;
}


@media(max-width:650px){
    .catagory{
        display: none;
    }
    .profile{
        display: none;
    }
    .menu {
        display: block;
    }
}